{% extends 'base.html.twig' %}

{% block title %}{{ 'patient.edit_patient.page_title' | trans({'%patient_lastName%' : patient.lastName | upper, '%patient_firstName%' : patient.firstName}) }}{% endblock %}

{% block body %}

 	<main class="container-lg">
	  	<div class="row py-5">
		    <h1 class="text-osteolia">{{ 'patient.edit_patient.content.title' | trans({'%patient_lastName%' : patient.lastName | upper, '%patient_firstName%' : patient.firstName}) }}</h1>
		    <p class="lead">
		    	{{ 'patient.edit_patient.content.lead' | trans }}
		    </p>
  			{% if not form.vars.valid %}
  			<p class="alert alert-warning" role="alert">
				{{ 'patient.messages.form_has_errors' | trans }}
			</p>
			{% endif %}

			{{ include('patient/patientForm.html.twig') }}

	    </div>
    </main>

{% endblock %}
