{% extends 'base.html.twig' %}

{% block title %}{{ 'patient.patient.page_title' | trans({'%patient_lastName%' : patient.lastName | upper, '%patient_firstName%' : patient.firstName}) }}{% endblock %}

{% block body %}

 	<main class="container-lg">
	  	<div class="row py-5">
		    <h1 class="text-osteolia">{{ patient.lastName | upper }}, {{ patient.firstName }}, 
	    		{% if patient.birthDate is not empty %}
		    		{% if patient.currentAge['y'] > 0 %}
		    			{{ patient.currentAge['y'] ~ 'patient.patient.content.years' | trans }}
	    			{% else %}
		    			{{ patient.currentAge['m'] ~ 'patient.patient.content.months' | trans }}
	    			{% endif %}
	    		{% endif %}
		    </h1>
		    <p class="lead">
		    	{% if nb_consultations > 0 %}
			    	{{ 'patient.patient.content.lead' | trans({'%nb_consultations%' : 2, '%last_consultation_date%' : date() | date('d/M/Y') }) }}
		    	{% else %}
		    		{{ 'patient.patient.content.lead_first_consultation' | trans }}
		    	{% endif %}
		    </p>
		    <div class="'row">
		    	<div class="col-md-6">
		    		{{ include('patient/administrative_informations/displayAI.html.twig') }}
		    		{% if patient.medicalHistory is empty %}
	    			<a href="{{ path('patient/edit-medical-history', {'id' : patient.id}) }}" class='btn btn-osteolia mt-3'>Renseigner les antécédents médicaux</a>
	    			{% else %}
	    			{{ include('medical_history/viewMedicalHistory.html.twig') }}
	    			{% endif %}
				</div>
				<div class="col-md-6">
										
				</div>
			</div>
	    </div>
    </main>

{% endblock %}
