{% extends 'base.html.twig' %}

{% block title %}{{ 'patient.patient.page_title' | trans({'%patient_lastName%' : patient.lastName | upper, '%patient_firstName%' : patient.firstName}) }}{% endblock %}

{% block body %}

 	<main class="container-lg">
	  	<div class="row py-5">
		    <h1 class="text-osteolia">{{ patient.lastName | upper }}, {{ patient.firstName }}, 
	    		{% if patient.birthDate is not empty %}
		    		{% if patient.currentAge['y'] > 0 %}
		    			{{ patient.currentAge['y'] ~ 'patient.patient.content.years' | trans }}
	    			{% else %}
		    			{{ patient.currentAge['m'] ~ 'patient.patient.content.months' | trans }}
	    			{% endif %}
	    		{% endif %}
		    </h1>
		    <p class="lead">
		    	{% if patient.consultations | length > 0 %}
			    	{{ 'patient.patient.content.lead' | trans({'%nb_consultations%' : patient.consultations | length, '%last_consultation_date%' : patient.consultations|last.creationDate | date('d/m/Y') }) }}
		    	{% else %}
		    		{{ 'patient.patient.content.lead_first_consultation' | trans }}
		    	{% endif %}
		    </p>
	    </div>
	    <div class="row">
	    	<div class="col-md-6 pe-md-5">
	    		{{ include('patient/administrative_informations/displayAI.html.twig') }}
	    		{% if patient.medicalHistory is empty %}
    				<a href="{{ path('patient/edit-medical-history', {'id' : patient.id}) }}" class='btn btn-osteolia mt-3'>{{ 'patient.patient.content.actions.edit_medical_history' | trans }}</a>
    			{% else %}
    				{{ include('medical_history/viewMedicalHistory.html.twig') }}
    			{% endif %}
			</div>
			<div class="col-md-6 ps-md-5">
			{% if patient.medicalHistory is not empty %}
				{% if patient.consultations is empty %}
				<div class="d-flex mb-3">
    				<a href="{{ path('patient/new-consultation', {'id' : patient.id}) }}" class='btn btn-osteolia mx-auto'><i class="bi bi-clipboard-plus me-2"></i>{{ 'patient.patient.content.actions.first_consultation' | trans }}</a>
    			</div>
    			{% else %}
				<div class="d-flex mb-3">
    				<a href="{{ path('patient/new-consultation', {'id' : patient.id}) }}" class='btn btn-osteolia mx-auto'><i class="bi bi-clipboard-plus me-2"></i>{{ 'patient.patient.content.actions.add_consultation' | trans }}</a>
    			</div>
				{{ include('consultation/viewAllConsultations.html.twig') }}
    			{% endif %}
    		{% endif %}
			</div>
		</div>
    </main>

{% endblock %}
