<h2 style="color:#ccc'">{{ 'reset_password.email_content.title' | trans }}</h2>

<p>{{ 'reset_password.email_content.greetings' | trans }} {% if user.firstName is not empty %} {{ user.firstName }} {% else %} {{ user.email }} {% endif %},</p>

<p>{{ 'reset_password.email_content.instructions' | trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'reset_password.email_content.expiration_warning' | trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{ 'reset_password.email_content.bye' | trans }}</p>

<p style="color:#777">{{ 'reset_password.email_content.team' | trans }}</p>
<p style="color:#aaa">{{ 'reset_password.email_content.security_notice' | trans }}</p>