{% extends 'base.html.twig' %}

{% block title %}{{'reset_password.page_title' | trans }}{% endblock %}

{% block body %}
    <main class="container-lg">
        <div class="row py-5">
            <div class="col-md-4 offset-md-4">

                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger mb-3" role="alert">{{ flashError }}</div>
                {% endfor %}

                    <h4 class="h3 mb-3 text-center text-osteolia">{{'reset_password.actual' | trans }}</h4>
                        <div class="my-3 text-center">
                        	<small>{{ 'reset_password.constraints' | trans }}</small>
                        	<div class="my-3">
	                     	   <a data-bs-toggle="modal" data-bs-target="#passwordTipsModal" class="text-osteolia"><small>Besoin d'aide pour définir un bon mot de passe ?</small></a>
                        	</div>
                          </div>
                    {{ form_start(resetForm) }}
				        {{ form_widget(resetForm.plainPassword.first, {'attr': {'class' : 'text-center mb-3'}}) }}
				        {{ form_widget(resetForm.plainPassword.second, {'attr': {'class' : 'text-center mb-3'}}) }}
                        <div class="mt-3 d-flex">
                            <button class="btn btn-osteolia mx-auto">{{'reset_password.button' | trans }}</button>
                        </div>
                    {{ form_end(resetForm) }}
            </div>
        </div>
		<div class="modal fade" id="passwordTipsModal" tabindex="-1" aria-labelledby="passwordTipsModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header bg-osteolia">
				        <h5 class="modal-title text-light" id="exampleModalLabel">{{ 'reset_password.tip_title' | trans }}</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p><small>{{ 'reset_password.tip' | trans }}</small></p>
						<p><small>{{ 'reset_password.tip2' | trans }}</small></p>
						<div class='alert alert-danger'>
							<small><i class="bi bi-info-circle-fill me-2"></i>{{ 'reset_password.warning' | trans }}</small>
						</div>
					</div>    
				</div>
			</div>
		</div>
    </main>

{% endblock %}
