{% extends 'base.html.twig' %}

{% block title %}{{ 'public_home.title' | trans }}!{% endblock %}

{% block body %}

	<main class="container-lg">
	  	<div class="row py-5">
	  		<div class="col">
			    <h1 class="text-osteolia">{{ 'public_home.welcome_title' | trans }}</h1>
			    <p class="lead">{{ 'public_home.welcome_statement' | trans }}
			    </p>
			    <div class="row">
			  		<div class="col">
					    <p>{{ 'public_home.whats_to_come' | trans }}</p>
					    <ul>
						{% for i in 0..4 %}
							<li>{{ ('public_home.comming_soon.'~i) | trans }}</li>
						{% endfor %}
					    </ul>
					    <p class="lead">
							<button type="button" class="btn btn-outline-osteolia d-none d-md-block" data-bs-toggle="collapse" data-bs-target="#prospectForm">{{ 'public_home.i_am_interested' | trans }}<i class="bi bi-hand-thumbs-up me-2"></i>
							</button>
							<a href="{{ path('/i-am-interested') }}" type="button" class="btn btn-outline-osteolia d-md-none">{{ 'public_home.i_am_interested' | trans }}<i class="bi bi-hand-thumbs-up me-2"></i>
							</a>
					    </p>
				   </div>
				</div>
			</div>
		   <div class="col {# % if form.vars.valid % #} collapse {# % endif % #}" id="prospectForm">
			   <div class="card card-body">
			   		{{ include('prospect/prospectForm.html.twig') }}
			   		{# { render(controller('App\\Controller\\ProspectController::newProspect')) } #}	
			   </div>
			</div>
	    </div>
   </main>

{% endblock %}
